@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --orange-500: hsl(35, 77%, 62%);
  --red-500: hsl(5, 85%, 63%);

  --neutral-100: hsl(36, 100%, 99%);
  --neutral-300: hsl(233, 8%, 79%);
  --neutral-500: hsl(236, 13%, 42%);
  --neutral-900: hsl(240, 100%, 5%);
}

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  line-height: 1;
}

p {
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

/* CSS reset */

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: var(--neutral-900);
  background-color: var(--neutral-100);
  padding: 80px 32px;
  min-height: 100vh;
}

.mobile {
  display: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul a {
  text-decoration: none;
  color: var(--neutral-500);
}

nav ul a:hover {
  color: var(--orange-500);
}

.top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  margin-top: 48px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.hero h1 {
  font-size: 56px;
  max-width: 320px;
}

.hero p {
  color: var(--neutral-500);
}

.btn {
  border: none;
  padding: 12px 32px;
  background-color: var(--red-500);
  color: var(--neutral-100);
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--neutral-900);
}

.news {
  background-color: var(--neutral-900);
  padding: 32px 24px;
}

.news h2 {
  font-size: 40px;
  font-weight: 800;
  color: var(--orange-500);
}

.news article {
  padding: 24px 0;
  border-bottom: 1px solid var(--neutral-500);
}

.news article:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.news article a {
  margin-bottom: 16px;
  font-size: 20px;
  text-decoration: none;
  color: var(--neutral-100);
}

.news article a:hover {
  color: var(--orange-500);
}

.news article p {
  color: var(--neutral-300);
  font-size: 15px;
}

.bottom {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 72px;
}

.feature {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.feature-image img {
  width: 100px;
}

.feature-content h2 {
  color: var(--neutral-300);
  margin: 0;
  line-height: 1;
  font-size: 32px;
}

.feature-content h3 {
  color: var(--neutral-900);
  font-size: 16px;
  margin-top: 8px;
}

.feature-content h3:hover {
  color: var(--red-500);
  cursor: pointer;
}

.feature-content p {
  color: var(--neutral-500);
  font-size: 15px;
  line-height: 1.75;
  margin-top: 8px;
}

@media (width < 868px) {

  .top,
  .bottom {
    grid-template-columns: 1fr;
  }

}

@media (width < 450px) {
  .hero-image .desktop {
    display: none;
  }

  .hero-image .mobile {
    display: block;
  }

  nav ul {
    flex-direction: column;
  }


}